div{
    display: block;
}
.menu{
    position: absolute;
    width: 164px;
    height: 999px;
    left: 1px;
    top: 0px;
    background: #FFFFFF;
    flex-direction:column;
}
.pic1{
    position: absolute;
    width:200px;
    height: 100px;
    left: 0.21%;
    right: 5.87%;
    top: 0%;
    bottom: 17.84%;
    background: #fff;
}
.pic2{
position: absolute;
width:120px;
height: 100px;
left: 20%;
right: 8.33%;
top: 15%;
bottom: 8.33%;

/* bg-primary */


}
.pic3{
    position: absolute;
    width:120px;
    height: 100px;
left: 20%;
right: 12.5%;
top: 30%;
bottom: 12.5%;

/* bg-primary */


}
.pic4{
    position: absolute;
    width:100px;
    height: 100px;
left: 30%;
right: 8.33%;
top: 45%;
bottom: 4.17%;

/* bg-primary */


}
.submenu{
position:relative;
width: 1251px;
height: 70px;
left: 328px;
top: -2px;

/* bg-AAAA */

background: #FFFFFF;
}
.submenuword{
    position: absolute;
    width: 42px;
    height: 45px;
    left: 1000px;
    top: 20px;
    
    /* Regular / H1 */
    
    font-family: Noto Sans TC;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 45px;
    /* identical to box height, or 141% */
    
    text-align: center;
    font-feature-settings: 'tnum' on, 'lnum' on;
    
    /* Text AA */
    
    color: rgba(0, 0, 0, 0.5);
}
.main{
    position: absolute;
width: 1171px;
height: 621px;
left: 189px;
top: 106px;
}
.pic5{
    width:1171px;
    height:500px;
    border-radius: 10px;
}
.busword{
    position: absolute;
width: 251px;
height: 52px;


/* Medium / Large Title */

font-family: Noto Sans TC;
font-style: normal;
font-weight: 500;
font-size: 40px;
line-height: 56px;
/* or 140% */

font-feature-settings: 'tnum' on, 'lnum' on;

/* bg-primary */

color: #D3381C;

}
.border{
    position: absolute;
width: 652px;
height: 28px;
top:580px;

/* Regular / H2 */

font-family: Noto Sans TC;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 33px;
/* or 137% */

font-feature-settings: 'tnum' on, 'lnum' on;

/* Text AAA */

color: rgba(0, 0, 0, 0.9);

}
.select1{
    position: absolute;
    top:830px;
    left: 189px;
}
.s1{
    position: absolute;
width: 86px;
height: 26px;
left: 189px;
top: 776px;

/* Regular / H3 */

font-family: Noto Sans TC;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 28px;
/* or 140% */

font-feature-settings: 'tnum' on, 'lnum' on;

/* Text AAA */

color: rgba(0, 0, 0, 0.9);
}
select{
    position: absolute;


border-color: #fff;
font-family: Noto Sans TC;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 22px;
/* identical to box height, or 137% */

font-feature-settings: 'tnum' on, 'lnum' on;

/* Text AA */

color: rgba(0, 0, 0, 0.5);

}
.select2{
    position: absolute;
    top:950px;
    left: 189px;
}
.s2{
    position: absolute;
width: 86px;
height: 26px;
left: 189px;
top: 900px;

/* Regular / H3 */

font-family: Noto Sans TC;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 28px;
/* or 140% */

font-feature-settings: 'tnum' on, 'lnum' on;

/* Text AAA */

color: rgba(0, 0, 0, 0.9);
}
.space{
    width:100%;
    height:1200px;
}
.b1{
    position: absolute;
    left:189px;
    top:1050px;

width: 100px;
height: 50px;


/* text-info */

background: #1CB8D4;
border-radius: 20px;
}
